console/runtime/*
frontend/runtime/*
frontend/www/assets/*
vendor/*
!vendor/index.php
!console/runtime/index.php
!frontend/runtime/index.php
!frontend/www/assets/index.php
.DS_Store
common/config/db-local.php
assets
!common/lib/assets
common/lib/composer/composer.lock
common/lib/composer/composer.phar

cdn/*

upload/data/*
upload/importCsv/*
upload/system/*
!upload/data/index.php
!upload/importCsv/index.php
!upload/system/index.php
docs/db_backup
initial_migration.php
initial_migration.360parent.php

!.gitkeep
