allow from all

IndexIgnore */*
RewriteEngine on

Options +FollowSymLinks
# if a directory or a file exists, use it directly

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule (.*) frontend/www/index.php/$1 [L]

DirectoryIndex frontend/www/index.php
